.main {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 130px auto auto;
}

.heroes__container {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}

.heroes-caption {
  font-family: 'Roboto Mono', sans-serif;
  color: #F1F1F1;
  font-size: 24px;
  letter-spacing: .05em;
  margin-bottom: 50px;
}

.heroes-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.heroes-item {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.heroes-item:last-child {
  margin-bottom: 0;
}

.heroes-item:hover {
  background: rgba(255,255,255,.05);
}

.heroes-item:before {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background: linear-gradient(90deg, #f16063, #ef578e);
}

.heroes-item.selected {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

.heroes-item.selected:before {
  opacity: 1;
}

.heroes-item.selected .heroes-item-num {
  background: transparent;
  font-weight: 600;
}

.heroes-item.selected .heroes-item-text {
  background: rgba(255,255,255,.05);
}

.heroes-item-num {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  color: #F1F1F1;
  font-size: 14px;
  padding: 10px;
  width: 40px;
  background: rgba(255,255,255,.05);
  text-align: center;
  border-radius: 4px 0 0 4px;
  position: relative;
  z-index: 2;
}

.heroes-item-text {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  color: #F1F1F1;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  width: calc(100% - 40px);
  background: rgba(255,255,255,.1);
  border-radius: 0 4px 4px 0;
  position: relative;
  z-index: 2;
}

